@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex items-center justify-center
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination-bullet-active {
  background-color: gray !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
  width: 15px !important;
  height: 15px !important;
}